.backgroundChild {
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-mini);
  background-color: var(--gradient-form-text);
}
.background,
.backgroundChild,
.linesIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.linesIcon {
  top: 55px;
  width: 1102px;
  height: 1px;
}
.area {
  position: absolute;
  top: 14px;
  left: 776px;
  line-height: 140%;
}
.projectType {
  position: absolute;
  top: 12px;
  left: 480px;
  width: 119px;
  height: 36px;
  text-align: left;
}
.viewProject {
  position: absolute;
  top: 24px;
  left: 38px;
  font-size: var(--graph-text-size);
  line-height: 140%;
  color: var(--form-box);
  cursor: pointer;
}
.logoIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.projectTitle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 169px;
  height: 38px;
  text-align: left;
}
.approveButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--status-button);
  width: 100%;
  height: 100%;
}
.approveButton,
.rejectButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 26px;
}
.rejectButtonChild {
  border-radius: var(--br-xs);
  background-color: var(--reject-button);
  width: 100%;
  height: 100%;
}
.approverejectButtons,
.rejectButton {
  position: absolute;
  top: 0;
  left: 80px;
  width: 76px;
  height: 26px;
}
.approverejectButtons {
  top: 7px;
  left: 950px;
  width: 156px;
  font-size: var(--graph-text-size);
}
.div,
.standardName,
.yyyy1 {
  position: absolute;
  line-height: 140%;
}
.div {
  top: 15px;
  left: 587px;
  text-align: left;
}
.standardName,
.yyyy1 {
  top: 12px;
  left: 234px;
}
.standardName {
  top: 13px;
  left: 319px;
  display: inline-block;
  min-width: 96px;
}
.projectListing6Child {
  position: absolute;
  top: 0;
  left: 444px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.linesIcon1,
.projectListing6 {
  position: absolute;
  top: 298px;
  left: 0;
  width: 100%;
  height: 55px;
}
.linesIcon1 {
  top: 51px;
  width: 1102px;
  height: 1px;
}
.country,
.project-type {
  position: absolute;
  top: 10px;
  left: 776px;
  line-height: 140%;
}
.project-type {
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.projectType2 {
  position: absolute;
  top: 8px;
  left: 480px;
  width: 119px;
  height: 36px;
  text-align: left;
}
.project-title {
  position: absolute;
  top: 3px;
  left: 38px;
  line-height: 140%;
}
.projectTitle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 38px;
  text-align: left;
}
.approverejectButtons1 {
  position: absolute;
  top: 3px;
  left: 950px;
  width: 156px;
  height: 26px;
  font-size: var(--graph-text-size);
}
.div1,
.yyyy2 {
  position: absolute;
  line-height: 140%;
}
.div1 {
  top: 11px;
  left: 587px;
  text-align: left;
}
.yyyy2 {
  top: 9px;
  left: 137px;
}
.projectListing5Child {
  position: absolute;
  top: 3px;
  left: 442px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.projectListing5 {
  position: absolute;
  top: 242px;
  left: 2px;
  width: 100%;
  height: 51px;
}
.ada,
.asiaindia,
.standard-name,
.yyyy {
  position: absolute;
  top: 10px;
  left: 662px;
  line-height: 140%;
}
.ada,
.standard-name,
.yyyy {
  left: 853px;
}
.standard-name,
.yyyy {
  top: 8px;
  left: 234px;
}
.standard-name {
  top: 9px;
  left: 319px;
  display: inline-block;
  min-width: 96px;
}
.projectListing4Child {
  position: absolute;
  top: 2px;
  left: 440px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.projectListing4 {
  position: absolute;
  top: 182px;
  left: 4px;
  width: 100%;
  height: 51px;
}
.approve {
  position: absolute;
  top: 8px;
  left: 3px;
  font-size: var(--graph-text-size);
  line-height: 140%;
  font-family: var(--table-title-text);
  color: var(--table-list-color);
  text-align: center;
}
.approveButton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 26px;
}
.projectListing3Child {
  position: absolute;
  top: 1px;
  left: 445px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.projectListing3 {
  position: absolute;
  top: 122px;
  left: 6px;
  width: 100%;
  height: 51px;
}
.projectListing2Child {
  position: absolute;
  top: 0;
  left: 443px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.linesIcon5,
.projectListing2 {
  position: absolute;
  top: 62px;
  left: 8px;
  width: 100%;
  height: 51px;
}
.linesIcon5 {
  top: 53px;
  left: 0;
  width: 1102px;
  height: 1px;
}
.ada2,
.asiaindia2,
.location {
  position: absolute;
  top: 12px;
  left: 662px;
  line-height: 140%;
}
.ada2,
.location {
  left: 776px;
}
.ada2 {
  left: 853px;
}
.projectTitle6,
.projectType6 {
  position: absolute;
  top: 10px;
  left: 480px;
  width: 119px;
  height: 36px;
  text-align: left;
}
.projectTitle6 {
  top: 2px;
  left: 0;
  width: 169px;
  height: 38px;
}
.approverejectButtons5 {
  position: absolute;
  top: 5px;
  left: 950px;
  width: 156px;
  height: 26px;
  font-size: var(--graph-text-size);
}
.div2 {
  position: absolute;
  top: 13px;
  left: 587px;
  line-height: 140%;
  text-align: left;
}
.standardName2,
.yyyy4,
.yyyy5 {
  position: absolute;
  top: 11px;
  left: 137px;
  line-height: 140%;
}
.standardName2,
.yyyy5 {
  top: 10px;
  left: 234px;
}
.standardName2 {
  top: 11px;
  left: 319px;
  display: inline-block;
  min-width: 96px;
}
.projectListing1Child {
  position: absolute;
  top: 0;
  left: 441px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.projectListing1 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 53px;
}
.projectListing {
  position: absolute;
  width: calc(100% - 16px);
  top: 101px;
  right: 10px;
  left: 6px;
  height: 353px;
  text-align: center;
}
.linesIcon6 {
  position: absolute;
  top: 27.5px;
  left: 0;
  width: 1100.2px;
  height: 1px;
}
.acceptReject {
  left: 988px;
  display: inline-block;
  min-width: 75px;
}
.acceptReject,
.pricePerUnit,
.qty,
.regionCountry {
  position: absolute;
  top: 0.5px;
  line-height: 150%;
}
.pricePerUnit {
  left: 862.1px;
  display: inline-block;
  min-width: 75px;
}
.qty,
.regionCountry {
  left: 797.7px;
}
.regionCountry {
  left: 683.1px;
  display: inline-block;
  min-width: 80px;
}
.projectId {
  left: 586.2px;
}
.projectId,
.projectType7,
.standard {
  position: absolute;
  top: 0.5px;
  line-height: 150%;
}
.projectType7 {
  left: 444px;
  text-align: center;
}
.standard {
  left: 336.4px;
}
.vintageTo {
  top: 0.5px;
  left: 251.5px;
}
.project,
.vintageFrom,
.vintageTo {
  position: absolute;
  line-height: 150%;
}
.vintageFrom {
  top: 0.5px;
  left: 154.4px;
  display: inline-block;
  min-width: 75px;
}
.project {
  top: 0;
  left: 0;
}
.titles {
  top: 0;
  left: 0;
  width: 1063px;
  height: 15.5px;
}
.list,
.project1,
.titles {
  position: absolute;
}
.list {
  top: 65.5px;
  left: 16.6px;
  width: 1100.2px;
  height: 27.5px;
  font-size: var(--graph-text-size);
  color: var(--form-box);
}
.project1 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.cardTitle,
.projectListCard {
  position: absolute;
  top: 17px;
  left: 15.6px;
  width: 84.9px;
  height: 25px;
  font-size: var(--title-text-size);
  color: var(--gray-gray-700);
}
.projectListCard {
  top: 163px;
  left: 277px;
  width: 1132px;
  height: 488.5px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--table-list-color);
  font-family: var(--table-title-text);
}
